In [1]:
# for import & export excel file
from openpyxl import load_workbook, Workbook

# Install pymysql package if you haven't already
!pip install pymysql
import pymysql

# Establish a connection to the MySQL database
connection = pymysql.connect(
    host='localhost',
    port= 3306,
    user='root',
    password='Suphakit_2024',
    database='tama_want_to_buy',
    cursorclass=pymysql.cursors.DictCursor
)

# Check if the connection is successful
if connection:
    print("Connection successful!")
else:
    print("Connection failed.")

Requirement already satisfied: pymysql in c:\users\v_pan\anaconda3\lib\site-packages (1.1.0)
Connection successful!

In [2]:
# use .cursor() for use SQL code for insert data from db variable
cursor = connection.cursor()
sql = '''
    SELECT p.id, p.name, p.price, c.name AS category
    FROM products AS p
    LEFT JOIN categories AS c
    ON p.category_id = c.id
    GROUP BY p.id; 
'''

# use .execute() for insert data from 'sql' variable above into new turple variable is 'products'
cursor.execute(sql)
products = cursor.fetchall()

# print result
print(products)

[{'id': 1, 'name': 'การ์ดจอ', 'price': 14000, 'category': 'อิเล็กทรอนิกส์'}, {'id': 2, 'name': 'ยางรถยนต์', 'price': 12000, 'category': 'รถยนต์'}, {'id': 3, 'name': 'หูฟัง', 'price': 4500, 'category': 'อิเล็กทรอนิกส์'}, {'id': 4, 'name': 'ซีพียู', 'price': 7000, 'category': 'อิเล็กทรอนิกส์'}]

In [3]:
# Create a new Excel workbook and select the active sheet
workbook = Workbook()
sheet = workbook.active

# Define column names
column_names = ['id', 'name', 'price', 'category']

# Append column names to the sheet
sheet.append(column_names)

# Append data from MySQL to the sheet
for p in products:
    row_values = [p[name] for name in column_names]  # Extract values using column names
    sheet.append(row_values)

# Save the workbook to an Excel file
workbook.save( filename = 'exported_02.xlsx' )

In [4]:
# then close the coursor and connection with MySQL
cursor.close()
connection.close()