In [23]:
# for import & export excel file
from openpyxl import load_workbook, Workbook

# Install pymysql package if you haven't already
!pip install pymysql
import pymysql

# load excel file
workbook = load_workbook('imported_01.xlsx')
sheet = workbook.active

# create for loop for append data in excel file into list variable name Values
values = []
# Iterating over rows using iterrows()
for row in sheet.iter_rows( min_row = 2, values_only = True):  # Append the row values as a list
    print(row) # for print result
    values.append(row)

In [10]:
# Establish a connection to the MySQL database
connection = pymysql.connect(
    host='localhost',
    port= 3306,
    user='root',
    password='Suphakit_2024',
    database='tama_want_to_buy',
    cursorclass=pymysql.cursors.DictCursor
)

# Check if the connection is successful
if connection:
    print("Connection successful!")
else:
    print("Connection failed.")

# Example query
query = "SELECT * FROM products"

# Execute the query
with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# Display the result
for row in result:
    print(row)

Connection successful!
{'id': 3, 'name': 'หูฟัง', 'price': 4500, 'is_necessary': 0, 'created_date': datetime.datetime(2024, 5, 4, 17, 20, 22)}
{'id': 4, 'name': 'จอยสติ๊ก Wirelesss', 'price': 1500, 'is_necessary': 0, 'created_date': datetime.datetime(2024, 5, 5, 15, 19, 25)}

In [14]:
# use .cursor() for use SQL code for insert data from db variable
cursor = connection.cursor()
sql = '''
    INSERT INTO products (name, price, is_necessary)
    VALUES (%s, %s, %s);
'''

# use .executemany() for insert to many data from List or Tuple with second paramter is 'values'
cursor.executemany(sql, values)

# use .commit() for commit to run above code
connection.commit()

# then print for update process
print( "เพิมข้อมูล " + str(cursor.rowcount) + " แถว")

เพิมข้อมูล 4 แถว

In [31]:
# export to Excel file

# Query data from MySQL
cursor = connection.cursor()
sql = '''
    SELECT * FROM products;
'''
cursor.execute(sql) 
products = cursor.fetchall()

# use for loop print all data
for p in products:
    print(p)

{'id': 3, 'name': 'หูฟัง', 'price': 4500, 'is_necessary': 0, 'created_date': datetime.datetime(2024, 5, 4, 17, 20, 22)}
{'id': 4, 'name': 'จอยสติ๊ก Wirelesss', 'price': 1500, 'is_necessary': 0, 'created_date': datetime.datetime(2024, 5, 5, 15, 19, 25)}
{'id': 8, 'name': 'ซีพียู', 'price': 7000, 'is_necessary': 0, 'created_date': datetime.datetime(2024, 5, 7, 13, 50, 16)}
{'id': 9, 'name': 'เมนบอร์ด', 'price': 6000, 'is_necessary': 0, 'created_date': datetime.datetime(2024, 5, 7, 13, 50, 16)}
{'id': 10, 'name': 'แรม', 'price': 3500, 'is_necessary': 0, 'created_date': datetime.datetime(2024, 5, 7, 13, 50, 16)}
{'id': 11, 'name': 'โคมไฟตั้งพื้น', 'price': 2500, 'is_necessary': 1, 'created_date': datetime.datetime(2024, 5, 7, 13, 50, 16)}

In [34]:
# Create a new Excel workbook and select the active sheet
workbook = Workbook()
sheet = workbook.active

# Define column names
column_names = ['id', 'name', 'price', 'is_necessary', 'created_date']

# Append column names to the sheet
sheet.append(column_names)

# Append data from MySQL to the sheet
for p in products:
    row_values = [p[name] for name in column_names]  # Extract values using column names
    sheet.append(row_values)

# Save the workbook to an Excel file
workbook.save(filename='exported_01.xlsx')

In [35]:
# then close the connection with MySQL
connection.close()